/* SKIFT IKKE */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    user-select: none;
}

.app {
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    /* background-color: var(--background-primary); */

    font-family: 'Poppins', sans-serif;
}

.app-wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* padding-top: 2rem; */
    gap: 1rem;
    background-color: var(--background-secondary);
}

main {
    width: 100%;
    height: 100%;
    padding: 5px;
}

/* Header OSV */

.header,
.button-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top:1rem;
    gap: 0.2rem;
}

.header {
    padding-top: 3rem;
    position: absolute;
}

.choosen {
    background-color: rgb(95, 95, 95);
}

.notchoosen {
    background-color: green;
}

.title {
    /* margin-top: 1rem; */
    font-size: 20px;
    font-weight: 700;

    color: var(--text-primary);
}

.testknap {
    position: absolute;
    right: 0;
    margin: 2rem;
    top: 0;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.jobs-container {
    display: flex;
    justify-content: center;
    
    width: 100%;
    height: 100%;
}

.job-wrapper {
    
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 5rem 2rem 0 2rem;
    overflow-x:hidden;
}


.item {
    width: 100%;
    height: 100px;
    justify-content: center;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.job-info {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.job-navn {
    margin-left: 10px;
    font-size: 16px;
    color: var(--text-primary);
}

.text {
    font-size: 16px;
    color: var(--text-secondary);
}

.left {
    margin-left: 10px;
}

.job-salary {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.line {
    /* margin-top: 10px; */
    width: 100%;
    height: 1px;
    background-color: var(--text-primary);
}

.job-online {
    display: flex;
    align-items: center;
}

.left-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 75%;
}

.right-item {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100%;
    width: 35%;
}

.button-container {
    display: flex;
    align-items: center;
}

.button-duty {
    
    height: 40px;
    width: auto;
    padding: 0 10px 0 10px;
    border-radius: 7px;
    color: #f2f2f7;
    margin-left: 10px;
}

.button-remove {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    height: 40px;
    width: 40px;
    background-color: red;
}



/* Do not edit, this allows you to view changes easily in your browser */
.dev-wrapper {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;

    margin: auto;

    width: 29rem;
    height: 58.5rem;
}


.item-holder.fade-out {
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }
  